/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/sass/_home.scss */
body {
  background: url(/public/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 479px) {
  /* line 12, ../../sass/sass/_home.scss */
  .container {
    width: 100% !important;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 12, ../../sass/sass/_home.scss */
  .container {
    width: 100% !important;
  }
}
@font-face {
  font-family: Pacifico;
  src: url(/public/fonts/Pacifico.ttf);
}
@font-face {
  font-family: Indie Flower;
  src: url(/public/fonts/IndieFlower.ttf);
}
@font-face {
  font-family: KarlGeoff;
  src: url(/public/fonts/Karl_Geoff.ttf);
}
@font-face {
  font-family: MagnoliaSky;
  src: url(/public/fonts/magnolia_sky.ttf);
}
@font-face {
  font-family: Frutilla;
  src: url(/public/fonts/FrutillaScript.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(/public/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto.ttf);
}
/* line 45, ../../sass/sass/_home.scss */
.heading {
  font-family: 'Pacifico', cursive;
  padding-top: 20px;
  font-size: 50px;
}

/* line 51, ../../sass/sass/_home.scss */
.dp {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

/* line 56, ../../sass/sass/_home.scss */
.navigation {
  width: 100%;
  height: 100%;
  background: url(/public/images/pre_ban.jpg) no-repeat center center;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* :hover{
      opacity: 0.8;
   }*/
}
/* line 73, ../../sass/sass/_home.scss */
.navigation .navCover .quoted {
  color: #FFF;
}
/* line 76, ../../sass/sass/_home.scss */
.navigation .navCover .quoted .author {
  font-size: 80px;
  font-family: 'MagnoliaSky', cursive;
}
/* line 81, ../../sass/sass/_home.scss */
.navigation .navCover .quoted .sub {
  font-size: 20px;
  font-family: 'RobotoLight', cursive;
}
@media screen and (min-width: 1100px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    margin-top: 200px;
  }
}
@media screen and (min-device-width: 1100px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    margin-top: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    margin-top: 0px !important;
    padding-top: 5%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1099px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    margin-top: 0px !important;
    padding-top: 5%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    padding-top: 20%;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    padding-top: 20%;
  }
}
@media screen and (max-width: 479px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    padding-top: 40%;
  }
  /* line 100, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted .sub {
    font-size: 40px;
    font-family: 'RobotoLight', cursive;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 73, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted {
    padding-top: 40%;
  }
  /* line 100, ../../sass/sass/_home.scss */
  .navigation .navCover .quoted .sub {
    font-size: 40px;
    font-family: 'RobotoLight', cursive;
  }
}
@media screen and (min-width: 1100px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    margin: 22% 0px 0px 0px;
  }
  /* line 111, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 50px;
    margin: 0px 20px;
  }
}
@media screen and (min-device-width: 1100px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    margin: 22% 0px 0px 0px;
  }
  /* line 111, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 50px;
    margin: 0px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    margin: 30% 0px 0px 0px;
  }
  /* line 119, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 50px;
    margin: 0px 20px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1099px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    margin: 30% 0px 0px 0px;
  }
  /* line 119, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 50px;
    margin: 0px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    visible: hidden;
  }
  /* line 128, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 90px;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  /* line 108, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia {
    visible: hidden;
  }
  /* line 128, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 90px;
  }
}
@media screen and (max-width: 479px) {
  /* line 137, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 90px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 137, ../../sass/sass/_home.scss */
  .navigation .navCover .socialMedia img {
    width: 90px;
  }
}
/* line 146, ../../sass/sass/_home.scss */
.navigation .navCover .glify a {
  color: #FFF !important;
  font-size: 30px;
}
/* line 151, ../../sass/sass/_home.scss */
.navigation .navCover .glify a:hover {
  color: gray !important;
  font-size: 35px;
}
/* line 157, ../../sass/sass/_home.scss */
.navigation .container-fluid {
  min-height: 75px;
  background-color: rgba(255, 0, 0, 0.2) !important;
}
/* line 161, ../../sass/sass/_home.scss */
.navigation .navbar-brand {
  margin-left: 212px !important;
}
/* line 163, ../../sass/sass/_home.scss */
.navigation .navbar-brand img {
  width: 60px;
  margin-top: -5px;
}
/* line 168, ../../sass/sass/_home.scss */
.navigation .navbar-nav {
  margin-left: 400px !important;
  margin-top: 15px;
}
/* line 171, ../../sass/sass/_home.scss */
.navigation .navbar-nav .nav-item {
  margin: 0px 10px;
}
/* line 174, ../../sass/sass/_home.scss */
.navigation .navbar-nav a {
  color: #FFF;
}
/* line 177, ../../sass/sass/_home.scss */
.navigation .navbar-nav a:visited {
  text-decoration: none;
}
/* line 181, ../../sass/sass/_home.scss */
.navigation .navbar-nav a:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  margin: 0px 15px;
}

/* line 190, ../../sass/sass/_home.scss */
.information {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.85);
    /* #myModal{
        .modal-content{
            .modal-body{
                .carouselKO{
                    .carousel slide{
                        .carousel-inner{
                            .item{
                                img{
                                    height: 200px !important;
                                }
                            }

                        }
                    }
                }
            }
        }
    } */
}
/* line 196, ../../sass/sass/_home.scss */
.information .connector {
  margin: 0 auto;
}
/* line 198, ../../sass/sass/_home.scss */
.information .connector img {
  width: 5%;
  margin-top: -70px;
}
/* line 203, ../../sass/sass/_home.scss */
.information h1, .information h2, .information p, .information span {
  color: #000;
}
/* line 206, ../../sass/sass/_home.scss */
.information .heading {
  color: #70647C;
}
@media screen and (max-width: 479px) {
  /* line 227, ../../sass/sass/_home.scss */
  .information .modal {
    top: 45% !important;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 227, ../../sass/sass/_home.scss */
  .information .modal {
    top: 45% !important;
  }
}
/* line 233, ../../sass/sass/_home.scss */
.information .Descri {
  color: #dc97f9;
  font-size: 25px;
  margin: 50px 0px 0px 70px;
  font-family: 'Pacifico', cursive;
}
@media screen and (max-width: 479px) {
  /* line 233, ../../sass/sass/_home.scss */
  .information .Descri {
    margin: 6% 0px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 233, ../../sass/sass/_home.scss */
  .information .Descri {
    margin: 6% 0px;
  }
}
/* line 242, ../../sass/sass/_home.scss */
.information .sideInformation {
  width: 500px;
  margin-top: 10%;
}
/* line 245, ../../sass/sass/_home.scss */
.information .sideInformation li {
  float: left;
  width: 250px;
  font-family: 'Indie Flower', cursive;
  color: #70647C;
  font-size: 20px;
}
@media screen and (max-width: 479px) {
  /* line 245, ../../sass/sass/_home.scss */
  .information .sideInformation li {
    font-size: 30px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 245, ../../sass/sass/_home.scss */
  .information .sideInformation li {
    font-size: 30px;
  }
}
/* line 255, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(n+1) {
  font-weight: bold;
}
/* line 258, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(2n+1) {
  font-family: 'Indie Flower', cursive;
  color: #ff6dba;
  font-weight: normal;
}
@media screen and (max-width: 479px) {
  /* line 242, ../../sass/sass/_home.scss */
  .information .sideInformation {
    margin-top: 20px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 242, ../../sass/sass/_home.scss */
  .information .sideInformation {
    margin-top: 20px;
  }
}
/* line 270, ../../sass/sass/_home.scss */
.information .pitch {
  margin: 60px 0px 70px 0px;
}
/* line 274, ../../sass/sass/_home.scss */
.information .pitch p {
  color: #337ab7;
  font-size: 20px;
  font-family: 'RobotoLight', cursive;
  font-weight: bold;
}
@media screen and (max-width: 479px) {
  /* line 270, ../../sass/sass/_home.scss */
  .information .pitch {
    margin-top: 10%;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 270, ../../sass/sass/_home.scss */
  .information .pitch {
    margin-top: 10%;
  }
}
@media screen and (min-width: 1100px) {
  /* line 287, ../../sass/sass/_home.scss */
  .information .DL {
    margin-top: 10%;
  }
}
@media screen and (min-device-width: 1100px) {
  /* line 287, ../../sass/sass/_home.scss */
  .information .DL {
    margin-top: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
  /* line 287, ../../sass/sass/_home.scss */
  .information .DL {
    margin-top: 10%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1099px) {
  /* line 287, ../../sass/sass/_home.scss */
  .information .DL {
    margin-top: 10%;
  }
}
@media screen and (max-width: 479px) {
  /* line 295, ../../sass/sass/_home.scss */
  .information .DL .btn-group-lg > .btn, .information .DL .btn-lg {
    font-size: 40px !important;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 295, ../../sass/sass/_home.scss */
  .information .DL .btn-group-lg > .btn, .information .DL .btn-lg {
    font-size: 40px !important;
  }
}
/* line 300, ../../sass/sass/_home.scss */
.information .DL .btn-success {
  background-color: rgba(237, 21, 102, 0.5);
  border-color: rgba(237, 21, 102, 0.8) !important;
  font-family: 'Pacifico', cursive !important;
}
/* line 304, ../../sass/sass/_home.scss */
.information .DL .btn-success:visited {
  background-color: rgba(237, 21, 102, 0.5);
  border-color: rgba(237, 21, 102, 0.8) !important;
}
/* line 308, ../../sass/sass/_home.scss */
.information .DL .btn-success:hover {
  background-color: #ed1566;
  -webkit-box-shadow: 0px 0px 20px 1px #f72eb8;
  -moz-box-shadow: 0px 0px 20px 1px #f72eb8;
  box-shadow: 0px 0px 20px 1px #f72eb8;
}
/* line 316, ../../sass/sass/_home.scss */
.information .DL .glyphicon {
  color: yellow;
  font-size: 25px;
  margin-bottom: 75px;
}

/* line 325, ../../sass/sass/_home.scss */
.education {
  width: 100%;
  height: auto;
  background-color: silver;
  background-image: url(/public/images/long_road1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #323232;
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
  /*p, li{
     font-size: 14px !important;
       @include mediaQueries(xs) {
          font-size: 16px !important;
       }
  } */
}
/* line 338, ../../sass/sass/_home.scss */
.education .heading {
  color: #000;
}
/* line 341, ../../sass/sass/_home.scss */
.education ul {
  width: 100%;
}
/* line 351, ../../sass/sass/_home.scss */
.education .timeLine {
  margin-top: 20px;
}
/* line 354, ../../sass/sass/_home.scss */
.education .parallax {
  /* The image used */
  background-image: url(/public/images/aimHigh.JPG);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 367, ../../sass/sass/_home.scss */
.education .parallax2 {
  /* The image used */
  background-image: url(/public/images/ban_wed.JPG);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 380, ../../sass/sass/_home.scss */
.education .parallax3 {
  /* The image used */
  background-image: url(/public/images/prenupBan.JPG);
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 395, ../../sass/sass/_home.scss */
.skills {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 399, ../../sass/sass/_home.scss */
.skills .heading {
  color: rgba 0, 0, 255, 1;
  margin-bottom: 10%;
}
/* line 403, ../../sass/sass/_home.scss */
.skills .skillsSet {
  padding-bottom: 5%;
}

/* line 408, ../../sass/sass/_home.scss */
.projects {
  width: 100%;
  height: auto;
  background-color: rgba(255, 204, 204, 0.5);
}
@media screen and (max-width: 479px) {
  /* line 408, ../../sass/sass/_home.scss */
  .projects {
    height: auto;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 408, ../../sass/sass/_home.scss */
  .projects {
    height: auto;
  }
}
/* line 415, ../../sass/sass/_home.scss */
.projects .heading {
  color: rgba 0, 0, 255, 1;
  margin-bottom: 5%;
}
/* line 421, ../../sass/sass/_home.scss */
.projects .proj .table {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 20px !important;
}
/* line 429, ../../sass/sass/_home.scss */
.projects .proj .table thead tr th {
  padding: 1.5% 0px;
  font-family: "Pacifico" !important;
  text-align: center !important;
}
/* line 440, ../../sass/sass/_home.scss */
.projects .proj .table tbody tr td {
  padding: 1% 0px;
  text-align: center !important;
  font-family: "Roboto" !important;
}
/* line 446, ../../sass/sass/_home.scss */
.projects .proj .table tbody tr .restricted {
  color: #ff0000;
}

/* line 456, ../../sass/sass/_home.scss */
.contact {
  width: 100%;
  /* #map {
           height: 100%;
         }
  */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 456, ../../sass/sass/_home.scss */
  .contact {
    height: auto;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  /* line 456, ../../sass/sass/_home.scss */
  .contact {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  /* line 456, ../../sass/sass/_home.scss */
  .contact {
    height: auto;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 456, ../../sass/sass/_home.scss */
  .contact {
    height: auto;
  }
}
/* line 470, ../../sass/sass/_home.scss */
.contact .heading {
  color: rgba 0, 0, 255, 1;
  margin-bottom: 10%;
}
/* line 474, ../../sass/sass/_home.scss */
.contact .cont {
  padding: 2% 0px;
  border-radius: 20px;
}
/* line 478, ../../sass/sass/_home.scss */
.contact .cont .infoContact {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2%;
  height: 480px;
  padding-top: 5%;
  font-size: 20px;
}
/* line 486, ../../sass/sass/_home.scss */
.contact .cont .infoContact .envi {
  padding-top: 5%;
}

/* --------------------------------

Primary style

-------------------------------- */
/* line 6, ../../sass/sass/_timeLine.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../sass/sass/_timeLine.scss */
html {
  font-size: 62.5%;
}

/* line 15, ../../sass/sass/_timeLine.scss */
body {
  font-size: 1.6rem;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

/* line 22, ../../sass/sass/_timeLine.scss */
a {
  color: #acb7c0;
  text-decoration: none;
}

/* line 27, ../../sass/sass/_timeLine.scss */
img {
  max-width: 100%;
}

/* line 31, ../../sass/sass/_timeLine.scss */
h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* --------------------------------

Patterns - reusable parts of our design

-------------------------------- */
@media only screen and (min-width: 1170px) {
  /* line 42, ../../sass/sass/_timeLine.scss */
  .cd-is-hidden {
    visibility: hidden;
  }
}
/* --------------------------------

Vertical Timeline - by CodyHouse.co

-------------------------------- */
/* line 52, ../../sass/sass/_timeLine.scss */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}

/* line 59, ../../sass/sass/_timeLine.scss */
header h1 {
  color: white;
  font-size: 1.8rem;
}

@media only screen and (min-width: 1170px) {
  /* line 65, ../../sass/sass/_timeLine.scss */
  header {
    height: 300px;
    line-height: 300px;
  }

  /* line 69, ../../sass/sass/_timeLine.scss */
  header h1 {
    font-size: 2.4rem;
  }
}
/* line 74, ../../sass/sass/_timeLine.scss */
.cd-timeline {
  overflow: hidden;
}

/* line 79, ../../sass/sass/_timeLine.scss */
.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

/* line 87, ../../sass/sass/_timeLine.scss */
.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  /* line 99, ../../sass/sass/_timeLine.scss */
  .cd-timeline {
    margin-top: 3em;
  }

  /* line 103, ../../sass/sass/_timeLine.scss */
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}
/* line 109, ../../sass/sass/_timeLine.scss */
.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

/* line 114, ../../sass/sass/_timeLine.scss */
.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 121, ../../sass/sass/_timeLine.scss */
.cd-timeline__block:first-child {
  margin-top: 0;
}

/* line 125, ../../sass/sass/_timeLine.scss */
.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  /* line 130, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block {
    margin: 4em 0;
  }
}
/* line 135, ../../sass/sass/_timeLine.scss */
.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* line 146, ../../sass/sass/_timeLine.scss */
.cd-timeline__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

/* line 157, ../../sass/sass/_timeLine.scss */
.cd-timeline__img.cd-timeline__img--picture {
  background: #75ce66;
}

/* line 161, ../../sass/sass/_timeLine.scss */
.cd-timeline__img.cd-timeline__img--movie {
  background: #c03b44;
}

/* line 165, ../../sass/sass/_timeLine.scss */
.cd-timeline__img.cd-timeline__img--location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  /* line 170, ../../sass/sass/_timeLine.scss */
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  /* line 179, ../../sass/sass/_timeLine.scss */
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 220, ../../sass/sass/_timeLine.scss */
.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

/* line 230, ../../sass/sass/_timeLine.scss */
.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 237, ../../sass/sass/_timeLine.scss */
.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

/* line 249, ../../sass/sass/_timeLine.scss */
.cd-timeline__content h2 {
  color: #303e49;
}

/* line 253, ../../sass/sass/_timeLine.scss */
.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
  font-size: 1.3rem;
}

/* line 259, ../../sass/sass/_timeLine.scss */
.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 264, ../../sass/sass/_timeLine.scss */
.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

/* line 269, ../../sass/sass/_timeLine.scss */
.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

/* line 277, ../../sass/sass/_timeLine.scss */
.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

/* line 281, ../../sass/sass/_timeLine.scss */
.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  /* line 288, ../../sass/sass/_timeLine.scss */
  .cd-timeline__content h2 {
    font-size: 2rem;
  }

  /* line 291, ../../sass/sass/_timeLine.scss */
  .cd-timeline__content p {
    font-size: 1.6rem;
  }

  /* line 294, ../../sass/sass/_timeLine.scss */
  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 301, ../../sass/sass/_timeLine.scss */
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  /* line 309, ../../sass/sass/_timeLine.scss */
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  /* line 315, ../../sass/sass/_timeLine.scss */
  .cd-timeline__read-more {
    float: left;
  }

  /* line 318, ../../sass/sass/_timeLine.scss */
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
    color: #FFF;
  }

  /* line 326, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }

  /* line 329, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  /* line 336, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }

  /* line 339, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  /* line 344, ../../sass/sass/_timeLine.scss */
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 353, ../../sass/sass/_timeLine.scss */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
