/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/sass/_home.scss */
body {
  background: url(/public/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 10, ../../sass/sass/_home.scss */
.dp {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

/* line 15, ../../sass/sass/_home.scss */
.navigation {
  width: 100%;
  height: 637px;
}
/* line 20, ../../sass/sass/_home.scss */
.navigation .container-fluid {
  min-height: 75px;
  background-color: rgba(255, 0, 0, 0.2) !important;
}
/* line 24, ../../sass/sass/_home.scss */
.navigation .navbar-brand {
  margin-left: 212px !important;
}
/* line 26, ../../sass/sass/_home.scss */
.navigation .navbar-brand img {
  width: 60px;
  margin-top: -5px;
}
/* line 31, ../../sass/sass/_home.scss */
.navigation .navbar-nav {
  margin-left: 400px !important;
  margin-top: 15px;
}
/* line 34, ../../sass/sass/_home.scss */
.navigation .navbar-nav .nav-item {
  margin: 0px 10px;
}
/* line 37, ../../sass/sass/_home.scss */
.navigation .navbar-nav a {
  color: #FFF;
}
/* line 40, ../../sass/sass/_home.scss */
.navigation .navbar-nav a:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  margin: 0px 15px;
}

/* line 49, ../../sass/sass/_home.scss */
.information {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.85);
}
/* line 55, ../../sass/sass/_home.scss */
.information .connector {
  margin: 0 auto;
}
/* line 57, ../../sass/sass/_home.scss */
.information .connector img {
  width: 5%;
  margin-top: -70px;
}
/* line 62, ../../sass/sass/_home.scss */
.information h1, .information h2, .information p, .information span {
  color: #000;
}
/* line 65, ../../sass/sass/_home.scss */
.information .heading {
  font-family: 'Pacifico', cursive;
  color: #70647C;
  padding-top: 20px;
  font-size: 30px;
}
/* line 72, ../../sass/sass/_home.scss */
.information .Descri {
  color: #dc97f9;
  font-size: 25px;
  margin: 50px 0px 0px 70px;
  font-family: 'Pacifico', cursive;
}
/* line 78, ../../sass/sass/_home.scss */
.information .sideInformation {
  width: 500px;
  margin-top: 100px;
}
/* line 81, ../../sass/sass/_home.scss */
.information .sideInformation li {
  float: left;
  width: 200px;
  font-family: 'Indie Flower', cursive;
  color: #70647C;
  font-size: 20px;
}
/* line 87, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(1), .information .sideInformation li:nth-child(3), .information .sideInformation li:nth-child(5) {
  font-family: 'Indie Flower', cursive;
  color: #ff6dba;
}
/* line 92, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(2), .information .sideInformation li:nth-child(4), .information .sideInformation li:nth-child(6) {
  font-weight: bold;
}
/* line 97, ../../sass/sass/_home.scss */
.information .pitch {
  margin: 60px 0px 70px 0px;
}
/* line 100, ../../sass/sass/_home.scss */
.information .pitch p {
  color: #dc97f9;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
/* line 106, ../../sass/sass/_home.scss */
.information .downloadResume {
  width: 230px;
  height: 35px;
  border-radius: 50px;
  border: 2px solid #ff6dba;
}
/* line 111, ../../sass/sass/_home.scss */
.information .downloadResume span {
  font-size: 20px;
}
