/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/sass/_home.scss */
body {
  background: url(/public/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 479px) {
  /* line 11, ../../sass/sass/_home.scss */
  .container {
    width: 100% !important;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 11, ../../sass/sass/_home.scss */
  .container {
    width: 100% !important;
  }
}
/* line 15, ../../sass/sass/_home.scss */
.heading {
  font-family: 'Pacifico', cursive;
  padding-top: 20px;
  font-size: 30px;
}

/* line 22, ../../sass/sass/_home.scss */
.dp {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

/* line 27, ../../sass/sass/_home.scss */
.navigation {
  width: 100%;
  height: 637px;
}
/* line 32, ../../sass/sass/_home.scss */
.navigation .container-fluid {
  min-height: 75px;
  background-color: rgba(255, 0, 0, 0.2) !important;
}
/* line 36, ../../sass/sass/_home.scss */
.navigation .navbar-brand {
  margin-left: 212px !important;
}
/* line 38, ../../sass/sass/_home.scss */
.navigation .navbar-brand img {
  width: 60px;
  margin-top: -5px;
}
/* line 43, ../../sass/sass/_home.scss */
.navigation .navbar-nav {
  margin-left: 400px !important;
  margin-top: 15px;
}
/* line 46, ../../sass/sass/_home.scss */
.navigation .navbar-nav .nav-item {
  margin: 0px 10px;
}
/* line 49, ../../sass/sass/_home.scss */
.navigation .navbar-nav a {
  color: #FFF;
}
/* line 52, ../../sass/sass/_home.scss */
.navigation .navbar-nav a:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  margin: 0px 15px;
}

/* line 61, ../../sass/sass/_home.scss */
.information {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.85);
}
/* line 67, ../../sass/sass/_home.scss */
.information .connector {
  margin: 0 auto;
}
/* line 69, ../../sass/sass/_home.scss */
.information .connector img {
  width: 5%;
  margin-top: -70px;
}
/* line 74, ../../sass/sass/_home.scss */
.information h1, .information h2, .information p, .information span {
  color: #000;
}
/* line 77, ../../sass/sass/_home.scss */
.information .heading {
  color: #70647C;
}
/* line 80, ../../sass/sass/_home.scss */
.information .Descri {
  color: #dc97f9;
  font-size: 25px;
  margin: 50px 0px 0px 70px;
  font-family: 'Pacifico', cursive;
}
@media screen and (max-width: 479px) {
  /* line 80, ../../sass/sass/_home.scss */
  .information .Descri {
    margin: 20px 0px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 80, ../../sass/sass/_home.scss */
  .information .Descri {
    margin: 20px 0px;
  }
}
/* line 89, ../../sass/sass/_home.scss */
.information .sideInformation {
  width: 500px;
  margin-top: 100px;
}
/* line 92, ../../sass/sass/_home.scss */
.information .sideInformation li {
  float: left;
  width: 250px;
  font-family: 'Indie Flower', cursive;
  color: #70647C;
  font-size: 20px;
}
/* line 98, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(n+1) {
  font-weight: bold;
}
/* line 101, ../../sass/sass/_home.scss */
.information .sideInformation li:nth-child(2n+1) {
  font-family: 'Indie Flower', cursive;
  color: #ff6dba;
  font-weight: normal;
}
@media screen and (max-width: 479px) {
  /* line 89, ../../sass/sass/_home.scss */
  .information .sideInformation {
    width: 500px;
    margin-top: -450px;
    margin-left: 450px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 89, ../../sass/sass/_home.scss */
  .information .sideInformation {
    width: 500px;
    margin-top: -450px;
    margin-left: 450px;
  }
}
/* line 114, ../../sass/sass/_home.scss */
.information .pitch {
  margin: 60px 0px 70px 0px;
}
/* line 117, ../../sass/sass/_home.scss */
.information .pitch p {
  color: #dc97f9;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
@media screen and (max-width: 479px) {
  /* line 114, ../../sass/sass/_home.scss */
  .information .pitch {
    width: 500px;
    margin: 200px 0px 0px 450px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 114, ../../sass/sass/_home.scss */
  .information .pitch {
    width: 500px;
    margin: 200px 0px 0px 450px;
  }
}
/* line 128, ../../sass/sass/_home.scss */
.information .socialMedia {
  margin: 20px 0px 50px 0px;
}
/* line 130, ../../sass/sass/_home.scss */
.information .socialMedia img {
  width: 75px;
  margin: 0px 20px;
}
@media screen and (max-width: 479px) {
  /* line 128, ../../sass/sass/_home.scss */
  .information .socialMedia {
    margin: 150px 0px 50px 0px;
  }
}
@media screen and (max-device-width: 479px) {
  /* line 128, ../../sass/sass/_home.scss */
  .information .socialMedia {
    margin: 150px 0px 50px 0px;
  }
}
/* line 141, ../../sass/sass/_home.scss */
.information .DL .btn-success {
  background-color: rgba(237, 21, 102, 0.5);
  border-color: rgba(237, 21, 102, 0.8) !important;
  font-family: 'Pacifico', cursive !important;
}
/* line 145, ../../sass/sass/_home.scss */
.information .DL .btn-success:visited {
  background-color: rgba(237, 21, 102, 0.5);
  border-color: rgba(237, 21, 102, 0.8) !important;
}
/* line 149, ../../sass/sass/_home.scss */
.information .DL .btn-success:hover {
  background-color: #ed1566;
  -webkit-box-shadow: 0px 0px 20px 1px #f72eb8;
  -moz-box-shadow: 0px 0px 20px 1px #f72eb8;
  box-shadow: 0px 0px 20px 1px #f72eb8;
}
/* line 157, ../../sass/sass/_home.scss */
.information .DL .glyphicon {
  color: yellow;
  font-size: 25px;
  margin-bottom: 75px;
}

/* line 166, ../../sass/sass/_home.scss */
.education {
  width: 100%;
  height: auto;
  background-color: rgba(70, 101, 148, 0.85);
  color: #323232;
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
  /* ================ Timeline Media Queries ================ */
}
/* line 177, ../../sass/sass/_home.scss */
.education .heading {
  color: #FFF;
}
/* line 180, ../../sass/sass/_home.scss */
.education ul {
  width: 100%;
}
/* line 184, ../../sass/sass/_home.scss */
.education .timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}
/* line 193, ../../sass/sass/_home.scss */
.education .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}
/* line 213, ../../sass/sass/_home.scss */
.education .timeline li {
  padding: 1em 0;
}
/* line 217, ../../sass/sass/_home.scss */
.education .timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 226, ../../sass/sass/_home.scss */
.education .achievements-left {
  position: relative;
  top: 90px;
  width: 300px;
  float: left;
  text-align: right;
  color: #FFF;
}
/* line 233, ../../sass/sass/_home.scss */
.education .achievements-left .icon-achievement-1 {
  background: url(/public/images/ic_trophy.svg);
  background-size: 100% 100%;
  position: absolute;
  top: 10%;
  right: -50px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
  z-index: 10;
}
/* line 249, ../../sass/sass/_home.scss */
.education .achievements-left .icon-achievement-2 {
  background: url(/public/images/ic_badge.png);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  right: -50px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
  z-index: 10;
}
/* line 268, ../../sass/sass/_home.scss */
.education .achievements-right {
  position: relative;
  top: 90px;
  width: 300px;
  float: right;
  text-align: left;
  color: #FFF;
}
/* line 275, ../../sass/sass/_home.scss */
.education .achievements-right .icon-achievement-1 {
  background: url(/public/images/ic_badge.png);
  background-size: 100% 100%;
  position: absolute;
  top: 10%;
  left: -50px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
  z-index: 10;
}
/* line 291, ../../sass/sass/_home.scss */
.education .achievements-right .icon-achievement-2 {
  background: url(/public/images/ic_crown.svg);
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: -50px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
  z-index: 10;
}
/* line 309, ../../sass/sass/_home.scss */
.education .direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}
/* line 316, ../../sass/sass/_home.scss */
.education .direction-r {
  position: relative;
  width: 300px;
  float: right;
}
/* line 322, ../../sass/sass/_home.scss */
.education .flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
/* line 329, ../../sass/sass/_home.scss */
.education .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
/* line 340, ../../sass/sass/_home.scss */
.education .direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
/* line 346, ../../sass/sass/_home.scss */
.education .direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
/* line 352, ../../sass/sass/_home.scss */
.education li:nth-child(3) .direction-r .flag:before {
  background: url(/public/images/ic_lpu.png);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF;
  position: absolute;
  top: 25%;
  right: -68px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 50%;
  z-index: 10;
}
/* line 372, ../../sass/sass/_home.scss */
.education li:nth-child(3) .direction-r .flag:before {
  left: -50px;
}
/* line 376, ../../sass/sass/_home.scss */
.education .direction-l .flag:before,
.education .direction-r .flag:before {
  background: url(/public/images/ic_briefcase.svg);
  position: absolute;
  top: 25%;
  right: -68px;
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
  z-index: 10;
}
/* line 393, ../../sass/sass/_home.scss */
.education .direction-r .flag:before {
  left: -50px;
}
/* line 397, ../../sass/sass/_home.scss */
.education .direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
/* line 411, ../../sass/sass/_home.scss */
.education .direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
/* line 425, ../../sass/sass/_home.scss */
.education .time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
  vertical-align: middle;
}
/* line 434, ../../sass/sass/_home.scss */
.education .direction-l .time-wrapper {
  float: left;
}
/* line 438, ../../sass/sass/_home.scss */
.education .direction-r .time-wrapper {
  float: right;
}
/* line 442, ../../sass/sass/_home.scss */
.education .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}
/* line 448, ../../sass/sass/_home.scss */
.education .desc {
  margin: 1em 0.75em 0 0;
  color: #FFF;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}
/* line 456, ../../sass/sass/_home.scss */
.education .direction-r .desc {
  margin: 1em 0 0 0.75em;
}
@media screen and (max-width: 660px) {
  /* line 464, ../../sass/sass/_home.scss */
  .education .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  /* line 469, ../../sass/sass/_home.scss */
  .education .timeline li {
    padding: 2em 0;
  }
  /* line 473, ../../sass/sass/_home.scss */
  .education .direction-l,
  .education .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 481, ../../sass/sass/_home.scss */
  .education .flag-wrapper {
    text-align: center;
  }
  /* line 485, ../../sass/sass/_home.scss */
  .education .flag {
    background: white;
    z-index: 15;
  }
  /* line 490, ../../sass/sass/_home.scss */
  .education .direction-l .flag:before,
  .education .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
  }
  /* line 506, ../../sass/sass/_home.scss */
  .education .direction-l .flag:after,
  .education .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
  /* line 521, ../../sass/sass/_home.scss */
  .education .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  /* line 528, ../../sass/sass/_home.scss */
  .education .direction-l .time-wrapper {
    float: none;
  }
  /* line 532, ../../sass/sass/_home.scss */
  .education .direction-r .time-wrapper {
    float: none;
  }
  /* line 536, ../../sass/sass/_home.scss */
  .education .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
  /* line 548, ../../sass/sass/_home.scss */
  .education .direction-l .desc,
  .education .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}
@media screen and (min-width: 400px) and (max-width: 660px) {
  /* line 561, ../../sass/sass/_home.scss */
  .education .direction-l .desc,
  .education .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}
/* line 568, ../../sass/sass/_home.scss */
.education .jobFunctions li:before {
  content: url();
}

/* line 574, ../../sass/sass/_home.scss */
.skills {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 578, ../../sass/sass/_home.scss */
.skills .heading {
  color: rgba 0, 0, 255, 1;
}
/* line 581, ../../sass/sass/_home.scss */
.skills .spinners {
  padding: 0px 50px;
}
