@import "_mobileGrid.scss";
body {

     background: url(/public/images/bg.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;

}
@include mediaQueries(xs) {
    .container{
        width: 100% !important;
    }
}

@font-face {
    font-family: Pacifico;
    src: url(/public/fonts/Pacifico.ttf);
}
@font-face {
    font-family: Indie Flower;
    src: url(/public/fonts/IndieFlower.ttf);
}
@font-face {
    font-family: KarlGeoff;
    src: url(/public/fonts/Karl_Geoff.ttf);
}
@font-face {
    font-family: MagnoliaSky;
    src: url(/public/fonts/magnolia_sky.ttf);
}
@font-face {
    font-family: Frutilla;
    src: url(/public/fonts/FrutillaScript.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(/public/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/public/fonts/Roboto.ttf);
}
.heading{
        font-family: 'Pacifico', cursive;
        padding-top: 20px;
        font-size: 50px;

    }
.dp{
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
.navigation{
    width: 100%;
    height: 100%;
     background: url(/public/images/pre_ban.jpg) no-repeat center center;
     opacity: 1;
     //-webkit-filter: grayscale(50%);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    /* :hover{
        opacity: 0.8;
     }*/
    .navCover{
         // width: 100%;
          //height: 100%;
         // background-color: rgba(0, 0, 0, 0.5);
          .quoted{
                color: #FFF;

                .author{
                    font-size: 80px;
                    font-family: 'MagnoliaSky', cursive;

                }
                .sub{
                    font-size: 20px;
                    font-family: 'RobotoLight', cursive;
                    
                }
                //margin-top: 200px;
                @include mediaQueries(lg)  {
                     margin-top: 200px;
                }
                @include mediaQueries(md)  {

                     margin-top: 0px !important;
                     padding-top: 5%;
                }
                @include mediaQueries(sm) {
                    padding-top: 20%;
                }
                @include mediaQueries(xs) {
                      padding-top: 40%;
                      .sub{
                          font-size: 40px;
                          font-family: 'RobotoLight', cursive;
                          }
                }
          }


          .socialMedia{
                  @include mediaQueries(lg) {
                      margin: 10% 0px 0px 0px;
                            img{
                                 width: 50px;
                                 margin: 0px 20px;
                                        }
                                    }

                  @include mediaQueries(md) {
                  margin: 30% 0px 0px 0px;
                      img{
                          width: 50px;
                          margin: 0px 20px;
                      }
                  }

                  @include mediaQueries(sm) {
                       visible: hidden;

                      img{
                          width: 90px;
                        //  margin-top: 370%;


                      }
                  }
                   @include mediaQueries(xs) {
                       //margin: 150px 0px 50px 0px;
                       img{
                              width: 90px;
                              //margin-top: 350%;

                       }
                   }

          }
          .glify{
                a{
                color: #FFF !important;
                font-size: 30px;

                }
                a:hover{
                 color: gray !important;
                 font-size: 35px;
                }
          }
    }
    .container-fluid{
        min-height: 75px;
        background-color: rgba(255, 0, 0, 0.2) !important;
    }
    .navbar-brand{
        margin-left: 212px !important;
        img {
        width: 60px;
        margin-top: -5px;
        }
    }
    .navbar-nav{
        margin-left: 400px !important;
        margin-top: 15px;
        .nav-item{
            margin: 0px 10px;
        }
        a{
            color: #FFF;
        }
        a:visited {
            text-decoration: none;

        }
        a:hover{
            font-size: 20px;
            background-color:  rgba(255, 255, 255, 0);
            color: #000;
            margin: 0px 15px;
        }
    }
}

.information{

    width: 100%;
    height: auto;
    background-color: rgba(245,245,245, 0.85);
    //top: 100px;
    .connector{
        margin: 0 auto;
        img{
            width: 5%;
            margin-top: -70px;
        }
    }
    h1, h2, p, span{
        color: #000;
    }
    .heading{
          color: #70647C;
    }
    /* #myModal{
        .modal-content{
            .modal-body{
                .carouselKO{
                    .carousel slide{
                        .carousel-inner{
                            .item{
                                img{
                                    height: 200px !important;
                                }
                            }

                        }
                    }
                }
            }
        }
    } */
    .modal{
        @include mediaQueries(xs) {
                   top: 45% !important;
        }

    }
    .Descri{
        color: #dc97f9;
        font-size: 25px;
        margin: 50px 0px 0px 70px;
        font-family: 'Pacifico', cursive;
        @include mediaQueries(xs) {
            margin: 6% 0px;
        }
    }
    .sideInformation{
        width: 500px;
        margin-top: 10%;
        li{
            float: left;
            width: 250px;
            font-family: 'Indie Flower', cursive;
            color: #70647C;
            font-size: 20px;
            @include mediaQueries(xs) {
                       font-size: 30px;
                       //width: 600px;
                     }
            &:nth-child(n+1) {
                font-weight: bold;
            }
            &:nth-child(2n+1) {
                 font-family: 'Indie Flower', cursive;
                 color: #ff6dba;
                 font-weight: normal;
            }

        }
         @include mediaQueries(xs) {
            margin-top: 20px;

         }
    }
    .pitch{

         margin: 60px 0px 70px 0px;

         p{
             //color: #dc97f9;
             color: #337ab7;
             font-size: 20px;
             font-family: 'RobotoLight', cursive;
             font-weight: bold;

         }
         @include mediaQueries(xs) {

                    margin-top: 10%;
                  }
    }
    .DL{
        @include mediaQueries(lg) {
                     margin-top: 10%;
        }
        @include mediaQueries(md) {
                             margin-top: 10%;
                }
        @include mediaQueries(xs) {
              .btn-group-lg>.btn, .btn-lg{
                font-size: 40px !important;
              }
        }

        .btn-success{
            background-color: rgba(237,	21,	102, 0.5);
            border-color: rgba(237, 21, 102, 0.8) !important;
            font-family: 'Pacifico', cursive !important;
            &:visited{
                 background-color: rgba(237,	21,	102, 0.5);
                 border-color: rgba(237, 21, 102, 0.8) !important;
            }
            &:hover{
                 background-color: rgb(237, 21, 102);
                 -webkit-box-shadow: 0px 0px 20px 1px rgba(247,46,184,1);
                 -moz-box-shadow: 0px 0px 20px 1px rgba(247,46,184,1);
                 box-shadow: 0px 0px 20px 1px rgba(247,46,184,1);
            }

        }
        .glyphicon{
            color: yellow;
            font-size: 25px;
            margin-bottom: 75px;
        }
    }

}

.education{
      width: 100%;
      height: auto;
     // background-color: rgba(70,101,148,0.85);
     background-color: rgba(192,192,192,1);
     background-image: url(/public/images/long_road1.jpeg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
      color: rgb(50,50,50);
      font-family: 'Open Sans', sans-serif;
      font-size: 112.5%;
      line-height: 1.6em;
         .heading{
                  color: #000;
            }
         ul{
            width: 100%;

         }
         /*p, li{
            font-size: 14px !important;
              @include mediaQueries(xs) {
                 font-size: 16px !important;
              }
         } */
         .timeLine {
                  margin-top: 20px;
         }
         .parallax {
             /* The image used */
             background-image: url(/public/images/aimHigh.JPG);

             /* Set a specific height */
             min-height: 500px;

             /* Create the parallax scrolling effect */
             background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
         }
         .parallax2 {
                      /* The image used */
                      background-image: url(/public/images/ban_wed.JPG);

                      /* Set a specific height */
                      min-height: 500px;

                      /* Create the parallax scrolling effect */
                      background-attachment: fixed;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                  }
        .parallax3 {
                            /* The image used */
                            background-image: url(/public/images/prenupBan.JPG);

                            /* Set a specific height */
                            //min-height: 500px;

                            /* Create the parallax scrolling effect */
                            background-attachment: fixed;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
}

.skills{
      width: 100%;
      height: auto;
      background-color: rgba(255,255,255,0.85);
      .heading{
        color: rgba (0,0,255, 1);
        margin-bottom: 10%;
      }
      .skillsSet{
        padding-bottom: 5%;
      }
}

.projects{
     width: 100%;
     height: auto;
     @include mediaQueries(xs) {
            height: auto;
     }
     background-color: rgba(255, 204, 204, 0.5);
          .heading{
            color: rgba (0,0,255, 1);
            margin-bottom: 5%;
          }
     .proj{

           .table{
                width: 100%;
                height: auto;
                background-color: rgba(255,255,255,0.5) !important;
                border-radius: 20px !important;
                thead{
                    tr{

                        th{
                            padding: 1.5% 0px;
                            //font-size: 32px !important;
                            font-family: "Pacifico" !important;
                            text-align: center !important;
                         }

                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 1% 0px;
                            text-align: center !important;
                            font-family: "Roboto" !important;

                        }
                        .restricted{
                            color: #ff0000;
                        }
                    }
                }

           }
      }
}

.contact{
     width: 100%;

    /* #map {
             height: 100%;
           }
    */
    @include mediaQueries(sm)  {
            height: auto;
     }
     @include mediaQueries(xs)  {
            height: auto;
     }
     //background-color: rgba(70,101,148,0.85);
          .heading{
            color: rgba (0,0,255, 1);
            margin-bottom: 10%;
          }
     .cont{
          // background-color: rgba(255,255,255,0.85);
           padding: 2% 0px;
           border-radius: 20px;
           .infoContact{
                background-color: rgba(255,255,255,0.85);
                border-radius: 2%;
                height: 480px;
                padding-top: 5%;
                //padding-bottom: 26.5%;
                font-size: 20px;
                //height: 480px;
                .envi{
                    padding-top: 5%;
                    //font-size: 24px;
                }

           }
     }
}